@use "../styles/colors" as *;
@import "../styles/mixins";

// Start Nav
nav {
  background-color: $primary;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  button {
    padding: 15px 60px;
    background-color: white;
    color: $primary;
    font-size: 16px;
    font-weight: 500;
    @include rad(8px);
    cursor: pointer;
    border: 2px solid white;
    @include tra(.5s);

    &:hover {
      color: white;
      background-color: $primary;
    }
  }
}
@media (max-width: 900px) {
  nav {
    padding: 0px 20px;
  }
}
@media (max-width: 600px) {
  nav button {display: none;}
  nav { justify-content: center; }
}
// End Nav


// Start Hero
section {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px 0 100px;
  position: relative;

  .leaf {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .leafR {
    position: absolute;
    top: 0px;
    right:0px;
    z-index: 2;
  }

  img {
    max-width: 100%;
    flex: 1;
  }

  .titles {
    
    h3 {
      color: #606060;
      font-weight: 500;
      max-width: 630px;
      line-height: 1.5;
      margin-bottom: 80px;
      font-size: 16px;
    }

    h2 {
      font-size: 64px;
      font-style: normal;
      font-weight: 800;
      color: $primary;
      margin-bottom: 40px;
    }

    button {
      padding: 15px 100px;
      background-color: $primary;
      color: white;
      font-weight: 500;
      @include rad(8px);
      cursor: pointer;
      border: 2px solid $primary;
      @include tra(.5s);
      font-size: 16px;

      &:hover {
        color: $primary;
        background-color: white;
      }
    }
    
    min-width: 50%;
  }
  
  .icon {
    position: absolute;
    bottom:20px;
    left: 50%;
    @include center((-50% , 0));
    cursor: pointer;
    svg {
      font-size: 40px;
    }
  }
  
}

@media (max-width: 900px) {
  section {
    flex-direction: column;
    height: auto;
    padding: 50px 20px;

    .leafR {
      display: none;
    }

    .titles {
      h2 {
        font-size: 40px;
      }
    }
  }
}
// End Hero


// Start Services
.Services {
  padding: 120px 100px 0;
  h3 {
    color: #333;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    margin-bottom: 80px;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 3px;
      background-color: $primary;
      bottom: 0;
      left: 50%;
      @include center((-50% , 0));
    }
  }
}
@media (max-width: 900px) {
  .Services {  
    padding: 80px 20px 0;
  
  }
}
// End Services

// Start Products
.Department {

  margin-bottom: 80px;
  
  h2 {
    color: #333;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    padding-bottom: 16px;
    margin-bottom: 40px;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 3px;
      background-color: $primary;
      bottom: 0;
      left: 0;
    }
  }

  .swiper-slide {

    border: 1px solid #F0F0F0;
    @include rad(8px);
    overflow: hidden;
    
    h4 {
      color: #000;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      padding: 25px 0;
      width: 100%;
      background-color: white;
      z-index: 3;
      position: relative;
      @include tra(.5s);
    }
    
    img {
      width: 100%;
      height: 250px;
      object-fit: fill;
      @include tra(.5s);
      position: relative;
      z-index: 2;
    }

    &:hover {

      img {
        transform: scale(1.03) rotate(1deg);
        -webkit-transform: scale(1.03) rotate(1deg);
        -moz-transform: scale(1.03) rotate(1deg);
        -ms-transform: scale(1.03) rotate(1deg);
        -o-transform: scale(1.03) rotate(1deg);
}

      h4 { color: $primary; }
      
    }
    
  }
}
@media (max-width: 600px) {
  .Department {  
    margin-bottom: 40px;

    .swiper-slide img {
      height: 150px;
    }
    
    h2 {
      margin-bottom: 30px;
    }
  
  }
}
// End Products

// Start Social
.Social {
  padding: 100px;
  background-color: #FEF3F6;
  h3 {
    color: #333;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 3px;
      background-color: $primary;
      bottom: 0;
      left: 50%;
      @include center((-50% , 0));
    }
  }
  h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    gap: 8px;

    .icons {
      display: flex;
      align-items: center;
      gap: 4px;

      svg {
        fill: $primary;
        width: 30px;
        height: 30px;
        cursor: pointer;
        opacity: .7;
        @include tra(.5s);

        &:hover {
          opacity: 1;
          transform: translateY(-3px);
          -webkit-transform: translateY(-3px);
          -moz-transform: translateY(-3px);
          -ms-transform: translateY(-3px);
          -o-transform: translateY(-3px);
        }
      }
    }
  }
  
  .container {
    @include grid(300px);
  
    .box {
      background-color: white;
      @include rad(12px);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 50px 0;
      gap: 12px ;
      @include tra(.5s);
  
      &:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
  
        svg {
  
          color: gray;
          
          transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -o-transform: rotate(360deg);
        }
  
        span {color: $primary;}
  
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        
      }
      
      
      svg {
        width: 50px;
        height: 50px;
        color: $primary;
        @include tra(.5s);
      }
      span {
        font-size: 20px;
        color: gray;
        @include tra(.5s);
        font-weight: 500;
      }
    }
  }
}
@media (max-width:900px) {
  .Social {
    padding: 50px 20px;
    .container {
      @include grid(300px);
    }

  }
}
//  End Social

// Start Footer
footer {
  background-color: $primary;
  color: #F5F5F5;
  padding: 50px 20px;
  text-align: center;
  h2 {
    margin: 0;
    font-size: 40px;
  }
}
@media (max-width:900px) {
  footer {
    h2 {
      font-size: 30px;
    }
  }
}
// end Footer



// Start Bouncing Animation
.bounce2 {
  animation: bounce2 3s ease infinite;
  -webkit-animation: bounce2 3s ease infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% { transform: translateY(-20px); -webkit-transform: translateY(-20px); -moz-transform: translateY(-20px); -ms-transform: translateY(-20px); -o-transform: translateY(-20px); }
	60% { transform: translateY(-10px); -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); }
}
// End Bouncing Animation

// Start Image Animation
.moving {
  animation: img 5s ease infinite;
  -webkit-animation: img 5s ease infinite;
}
@keyframes img {
	0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
} 50% {
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
} 100% {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
}
// End Image Animation



